body{
    overflow: auto;
   
}
/* add task form */
.container{
    margin: 100px 400px;
    display: flex-box;
    background-color: white;
    align-self: center;
    padding: 2%;
    border-radius: 2%;
    width: 30%;
    height: auto;
    border: 1px solid grey;
}

label {
  
    padding-left: 90px;
    margin: 2px;
    height: 5px;
}


input{
    /* align-content: center; */
    padding: 2.5%;
    margin: 2px auto 2px 90px;
    height: 5px;
}
/* confirm button */
button{
    width: 150px;
    height: 30px;
    margin: 30px 120px 15px 120px;
    padding: 0.5%;
    background-color: #13066c;
    color: white;
    border-radius: 50px;
    border: 1px solid grey;
    font-weight: bold;
    text-align: center;
    float: center;
}
/* heading */
h1{
    text-align: center;
    color: #13066c;
    font-weight:bold;
}

